
 
  .clearfix{
    clear: both;
  }
  #ok { 
    display: flex;
    justify-content: center;
    align-items: center;
    

  }
  
  .nm{
    margin-right: 40px;
  }
  .turn{
    margin-right: 50px;
  }
  .turn  {
    color: white;
    background-color: rgb(31 53 64);
    padding: 8px 40px;
    border: 1px solid rgb(31 53 64);
    border-radius: 5px;
  }
  .nn{
    font-size: 40px;
    color: rgb(47, 179, 179);
    font-weight: 2000;
    
  }
  .mm{
    font-size: 37px;
    color: rgb(197, 81, 27);
    font-weight: 2000;

  }
  #box{
    width: 397px;
    overflow: auto;
    margin: 124px auto;
    padding-bottom: 90px;
    padding-left: 107px;
    padding-right: 150px;
    border-radius: 10px;
    padding-top: 40px;
    background-color: rgb(25 42 50) ;
    
  }
  #message{
    background: #333;
    color: #fff;
  }
  .dd{
    color: rgb(29, 70, 72) ;
    padding: 10px;
   
    background-color:  grey ;
    border: 1px solid grey ;
    border-radius: 5px;
  }
  #gameBoard li{
    float: left;
    margin: 10px;
    height: 85px;
    width: 96px;
    font-size: 50px;
    background: rgb(31 53 64);
    color: #ccc;
    list-style: none;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  #gameBoard li:hover, #reset:hover{
    cursor: pointer;
    background: #000;
  }
  #reset{
    border: 0;
    background: #444;
    color: #fff;
    width: 70%;
    padding: 15px;
    border-radius: 5px;
  }
  .o{
    color: green !important;
  }
  .x{
    color: red !important;
  }
  footer{
    display: block;
    text-align: center;
    padding-top: 20px;
  }